.card{
  border: 1px solid #333333;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.card .title {
  color: rgb(180, 57, 57);
  font-size: 20px;
  margin-bottom: 10px;
}

.card .price {
  margin-bottom: 10px;
}

.card .button {
  display: flex;
  justify-content: center;

}

.card .button button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 12px;
  background-color: #333333;
  color: white;
}

.card .button button:hover {
  background-color: #0e9bd3;
}